Сущность Пользователь {
  id: уникальный идентификатор
  имя: строка
  фамилия: строка
  email: строка
  пароль: строка
  роль: перечисление (СОИСКАТЕЛЬ, РАБОТОДАТЕЛЬ, АДМИН)
  резюме: связь один-к-одному с Резюме
  отклики: связь один-ко-многим с Отклик
  сохраненныеВакансии: связь многие-ко-многим с Вакансия
  подписки: связь многие-ко-многим с Подписка
  аватар: строка (ссылка на файл)
  токены: связь один-ко-многим с Токен
  настройки: связь один-к-одному с НастройкиПользователя
}

Сущность НастройкиПользователя {
  id: уникальный идентификатор
  пользователь: связь один-к-одному с Пользователь
  языки: массив строк
  темаОформления: строка
  уведомления: связь один-ко-многим с НастройкаУведомления
}

Сущность НастройкаУведомления {
  id: уникальный идентификатор
  настройкиПользователя: связь многие-к-одному с НастройкиПользователя
  типУведомления: перечисление (НОВЫЕ_ВАКАНСИИ, НОВЫЕ_ОТКЛИКИ, ...)
  включено: логический
}

Сущность Токен {
  id: уникальный идентификатор
  пользователь: связь многие-к-одному с Пользователь
  токен: строка
  истекает: дата
  типТокена: перечисление (ВОССТАНОВЛЕНИЕ_ПАРОЛЯ, ПОДТВЕРЖДЕНИЕ_ЭЛЕКТРОННОЙ_ПОЧТЫ, ...)
}

Сущность Резюме {
  id: уникальный идентификатор
  пользователь: связь один-к-одному с Пользователь
  опыт: массив объектов Опыт
  образование: массив объектов Образование
  навыки: массив строк
  ожидаемаяЗарплата: число
  фото: строка (ссылка на файл)
}

Сущность Опыт {
  id: уникальный идентификатор
  должность: строка
  компания: строка
  начало: дата
  окончание: дата (может быть null)
  описание: строка
}

Сущность Образование {
  id: уникальный идентификатор
  учреждение: строка
  степень: строка
  начало: дата
  окончание: дата
  описание:строка
}

Сущность Компания {
  id: уникальный идентификатор
  название: строка
  описание: строка
  адрес: строка
  вакансии: связь один-ко-многим с Вакансия
  отзывы: связь один-ко-многим с Отзыв
  логотип: строка (ссылка на файл)
  пользователи: связь многие-ко-многим с Пользователь
  отрасль: связь многие-к-одному с Отрасль
}
 
Сущность Отрасль {
  id: уникальный идентификатор
  название: строка
  описание: строка
  компании: связь один-ко-многим с Компания
}tg

Сущность Категория {
  id: уникальный идентификатор
  название: строка
  описание: строка
  вакансии: связь один-ко-многим с Вакансия
  подкатегории: связь один-ко-многим с Категория
  родительскаяКатегория: связь многие-к-одному с Категория
}

Сущность Вакансия {
  id: уникальный идентификатор
  название: строка
  описание: строка
  требования: массив строк
  зарплата: число
  компания: связь многие-к-одному с Компания
  отклики: связь один-ко-многим с Отклик
  сохраненныеПользователями: связь многие-ко-многим с Пользователь
  типЗанятости: перечисление (ПОЛНАЯ, ЧАСТИЧНАЯ, УДАЛЕННАЯ, ...)
  местоположение: строка
  категория: связь многие-к-одному с Категория
  навыки: массив строк
  опытРаботы: перечисление (СТАЖЕР, МЛАДШИЙ, СРЕДНИЙ, СТАРШИЙ, ...)
  уровеньОбразования: перечисление (СРЕДНЕЕ, БАКАЛАВР, МАГИСТР, ...)
}

Сущность Отклик {
  id: уникальный идентификатор
  пользователь: связь многие-к-одному с Пользователь
  вакансия: связь многие-к-одному с Вакансия
  статус: перечисление (ОЖИДАНИЕ, ПРИНЯТО, ОТКЛОНЕНО)
  датаОтклика: дата
  сопроводительноеПисьмо: строка
}

Сущность Отзыв {
  id: уникальный идентификатор
  компания: связь многие-к-одному с Компания
  пользователь: связь многие-к-одному с Пользователь
  рейтинг: число
  комментарий: строка
  датаОтзыва: дата
  анонимный: логический
}

Сущность Подписка {
  id: уникальный идентификатор
  пользователь: связь многие-к-одному с Пользователь
  ключевыеСлова: массив строк
  местоположение: строка
  типЗанятости: перечисление (ПОЛНАЯ, ЧАСТИЧНАЯ, УДАЛЕННАЯ, ...)
  категории: связь многие-ко-многим с Категория
  активна: логический
}
